@tailwind base;
@tailwind components;
@tailwind utilities;

.text-linear {
  color: transparent;
  background: linear-gradient(
    10deg,
    rgb(255, 79, 184) 0%,
    rgb(255, 159, 251) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.bg-linear {
  background: linear-gradient(
    93.06deg,
    rgb(255, 0, 199) 2.66%,
    rgb(255, 159, 251) 98.99%
  );
}

.bg-linear-mesh {
  background: url(/src/assets/mesh.png),
    linear-gradient(93.06deg, rgb(255, 0, 199) 2.66%, rgb(255, 159, 251) 98.99%);
}

.bg-radial-gradient {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  width: 200vw;
  height: 200vh;
  transform: translate(-50vw, -100vh);
  z-index: -1;
  width: 200vw;
  height: 200vh;
  transform: translate(-50vw, -100vh);
  background: radial-gradient(
      100% 100% at 50% 0%,
      rgba(255, 184, 226, 0.51) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgb(255, 255, 255);
}

.banner-bg {
  background: url(https://app.uniswap.org/static/media/wallet_banner_phone_image.7458b169d90ac9039783.png)
    right 15px top 18px / 166px no-repeat rgb(253, 130, 255);
}
